
<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>


<h5 class="offcanvas-title text-center w-100" id="offcanvasLabel">
  <img src="/icons/krishi.png" alt="krishibandh">
</h5>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="bar-content text-center">
            <div class="card m-3 p-3 offset-3 text-center">
            <a href="/orders/new">Create order</a>
            </div>
            <div class="card m-3 p-3 offset-3">
            <a  href="">History</a>
            </div>
            <div class="card m-3 p-3 offset-3">
            <a href="">Trake the order</a>   
            </div>
    
    </div>
    
    

  </div>
</div>

